{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Login</h1>
<form action="" , method=POST class="text-center">
    {% csrf_token %}
    <div>
        <label>ユーザー名</label>
        <input type="text" , name="username">
    </div>
    <br />
    <div>
        <label>パスワード</label>
        <input type="password" , name="password">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button><br>
    <a href="{% url 'register' %}">Register</a>
</form>
</body>

{% endblock content %}